<!DOCTYPE html>
<html>
<head>
    <title>Add Restaurant</title>
</head>

<body>
<details>
    <summary>☰ Menu</summary>

    <br>

    <a href="/dashboard">Home</a><br><br>
    <a href="/profile">Profile</a><br><br>

    {% if session["role"] == "Customer" %}
        <a href="/restaurants">Browse Restaurants</a><br><br>
        <a href="/cart">Cart</a><br><br>
        <a href="/orders">My Orders</a><br><br>
    {% endif %}

    {% if session["role"] == "Restaurant Owner" %}
        <a href="/view_restaurants">My Restaurants</a><br><br>
        <a href="/add_restaurant">Add Restaurant</a><br><br>
    {% endif %}

    {% if session["role"] == "Admin" %}
        <a href="/manage_users">Manage Users</a><br><br>
        <a href="/manage_restaurants">Manage Restaurants</a><br><br>
    {% endif %}

    <a href="/logout">Logout</a>
</details>
<h1>Add Restaurant</h1>

<form method="POST">

    <label>Restaurant Name *</label>
    <br>
    <input type="text" name="restaurant_name" required>

    <br><br>

    <label>Phone Number *</label>
    <br>
    <input type="text" name="phone_number" required>

    <br><br>

    <label>Address *</label>
    <br>
    <input type="text" name="address" required>

    <br><br>

    <label>Cuisine Type *</label>
    <br>

    <select name="cuisine_type" required>
        <option value="">Select Cuisine</option>
        <option>Indian</option>
        <option>Italian</option>
        <option>Chinese</option>
        <option>Mexican</option>
        <option>American</option>
    </select>

    <br><br>

    <button type="submit">Save Restaurant</button>

</form>

<br>

<a href="/dashboard">Back to Dashboard</a>

</body>
</html>