<!DOCTYPE html>
<html>
<head>
    <title>Checkout</title>
</head>

<body>

<details>
    <summary>☰ Menu</summary>

    <br>

    <a href="/dashboard">Home</a><br><br>
    <a href="/profile">Profile</a><br><br>

    {% if session["role"] == "Customer" %}
        <a href="/restaurants">Browse Restaurants</a><br><br>
        <a href="/cart">Cart</a><br><br>
        <a href="/orders">My Orders</a><br><br>
    {% endif %}

    {% if session["role"] == "Restaurant Owner" %}
        <a href="/view_restaurants">My Restaurants</a><br><br>
        <a href="/add_restaurant">Add Restaurant</a><br><br>
    {% endif %}

    {% if session["role"] == "Admin" %}
        <a href="/manage_users">Manage Users</a><br><br>
        <a href="/manage_restaurants">Manage Restaurants</a><br><br>
    {% endif %}

    <a href="/logout">Logout</a>
</details>

<hr>

<h1>Checkout</h1>

<form action="/payment" method="POST">

    <h3>Order Type</h3>

    <input type="radio"
           name="order_type"
           value="Pickup"
           required>
    Pickup

    <br><br>

    <input type="radio"
           name="order_type"
           value="Delivery">
    Delivery

    <br><br>

    <a href="/cart">
        <button type="button">
            Back
        </button>
    </a>

    &nbsp;&nbsp;


    <button type="submit">
        Continue To Payment
    </button>

</form>

</body>
</html>