<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>

<body>

    <h1>Welcome {{ first_name }}</h1>

    <p>You are logged in successfully.</p>

    <p>Role: {{ role }}</p>

    {% if role == "Customer" %}

        <a href="/restaurants">
            <button>Browse Restaurants</button>
        </a>

    {% elif role == "Restaurant Owner" %}

        <a href="/add_restaurant">
            <button>Add Restaurant</button>
        </a>

        <a href="/view_restaurants">
            <button>View My Restaurants</button>
        </a>

    {% elif role == "Admin" %}

        <button>Manage Users</button>

        <button>Manage Restaurants</button>

    {% endif %}

    <br><br>

    <a href="/logout">Logout</a>

</body>
</html>