<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>

<body>

    <h1>Login</h1>

    <form method="POST">

        <label>Email: or Phone Number:</label>
        <br>
        <input type="text" name="login_identifier" required>
        
        <br><br>

        <label>Password:</label>
        <br>
        <input type="password" id="password" name="password" required>
        <button type="button" onclick="togglePassword()">
            👁
        </button>
        <br><br>

        <button type="submit">Login</button>

    </form>

    <br>

    <a href="/">Back to Home</a>

<script>

function togglePassword() {

    var passwordField = document.getElementById("password");

    if (passwordField.type === "password") {
        passwordField.type = "text";
    } else {
        passwordField.type = "password";
    }

}

</script>    
    
</body>
</html>